  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #9a9b9c;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .profile-header{
    background: #ffffff;
    width: 100%;
    display: flex;
    height: 270px;
    position: relative;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.2);
  }

  .user-name{
    float: right;
    width: 340px;
    height: 200px;
  }

  .nav{
    width: 100%;
    z-index: 0;
  }

  .nav ul{
    display:flex;
    justify-content: center;
    list-style-type: none;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  }

  .nav ul li{
    padding: 10px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    transition: all .2s ease-in-out;
  }

  .nav ul li.active,
  .nav ul li:hover {
     box-shadow: 0px -3px 0px rgba(0,0,0,0.2) inset;
  }

